section {
    position: relative;
    /* top: 50%; */
    left: 20%;
    /* margin-right: -50%; */
    /* transform: translate(-50%, -50%); */
    width: 60%;
    padding: 20px;
    text-align: center;
    align-items: center;
    display: none;
}

.api-call {
    text-align: left;
}